/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.card {

   border: none;
}

.user-content p {
   margin-top: 5px;
   font-size: 12px;
}

main>.container {
   padding: 60px 15px 0;
}